module.exports = {
  catalogs: [
    {
      path: '<rootDir>/locales/{locale}/messages',
      include: ['<rootDir>/src'],
      exclude: ['**/node_modules/**'],
    },
  ],
  locales: ['en', 'fa', 'ar', 'tr'],
  sourceLocale: 'en',
  format: 'po',
  fallbackLocales: {
    default: 'en',
  },
  compileNamespace: 'es',
  service: {
    name: 'TranslationIO',
    apiKey: '<TRANSLATION_IO_APIKEY>',
  },
};
