<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0; url={{href}}">
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">
</head>
<body>
</body>
</html>